.schatten {
  box-shadow: 0px 0px 15px grey;
}

.alert {
  margin: 15px 0;
  padding: 15px;
  border-radius: 5px;
}

.alert-danger {
  background: #ffebee;
}

.alert-info {
  background: #e3f2fd;
}

.alert-warning {
  background: #fff8e1;
}

.alert-success {
  background: #e8f5e9;
}

.modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(97, 97, 97, 0.5);
  z-index: 10;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 540px;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(117, 117, 117, 0.5);
}

.modal-head {
  padding: 10px 15px;
}

.modal-head .modal-title {
  font-size: 24px;
}

.modal-body {
  flex: 1;
  padding: 30px 15px;
  background: #eee;
}

.modal-footer {
  padding: 15px;
}

.modal-footer>* {
  margin-bottom: 0;
}

details {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  font-family: sans-serif;
}

td.weekday {
  background-color: #eee;
}

img.emoji {
  height: 24px;
  width: 24px;
  object-fit: contain;
  float: none;
  margin-right: 0px;
}

.hide {
  display: none;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}
a.nodec {
  text-decoration: none;
  color: white;
}
a.nodec:hover {
  text-decoration: none;
  color: white;
}

/* Тёмная тема
.day {
  background: #eee;
  color: black;
}
.night {
  background: #333;
  color: white;
}
@media (prefers-color-scheme: dark) {
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }

  img:hover {
    opacity: 1;
  }

  body {
    background: gray;
  }
}
*/
@media only screen and (max-width: 600px) {
  .mobileportrait {
    display: none;
  }
}
